Html {
  padding: 0;
  margin: 0;
  background-color: black;
}
h1 {
  color: red;
  display:flex;
  justify-content: center;
  align-self: center;
  font-size: 60px;
  border: 10px;
  border-color: black;


}
#game{
  width: 1600px;
  height: 600px;
  border: 40px solid goldenrod;
  border-radius: 20.5%;
  background-image: linear-gradient(black,silver);
}
#blockMan{
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 575px;
  left: 200px;
  right: 200px;
}
.animate{
animation: jump 450ms;
}
@keyframes jump {
  0%{top:150px;}
  10%{top:100px;}
  50%{top:100px;}
  
  
}
#block{
  width: 15px;
  height: 15px;
  background-color: blue;
  position: relative;
  top: 560px;
  left: 1300px;
  animation: block 3s infinite linear;
}
@keyframes block {
  0% {left:1300px;}
  100% {left:-40px;}
  
}

#unmute{
border-color: goldenrod;
position: fixed;
left: 1200px;
top: 65px;
width: 80px;
height: 40px;
border-radius: 360%;
font-size: larger;
color: red;


}

