Html {
  padding: 0;
  margin: 0;
  background-color: black;
}
h1 {
  color: red;
  display:flex;
  justify-content: center;
  align-self: center;
  font-size: 60px;
  border: 10px;
  border-color: black;


}
#game{
  width: 1600px;
  height: 600px;
  border: 40px solid goldenrod;
  border-radius: 20.5%;
  background-image: linear-gradient(black,silver);
}
#blockMan{
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 575px;
  left: 200px;
  right: 200px;
  bottom: 120px; 
}
.animate{
animation: jump 500ms;
}
@keyframes jump {
  0%{top:150px;}
  10%{top:100px;}
  50%{top:100px;}
  
  
}
#block{
  width: 15px;
  height: 15px;
  background-color: blue;
  position: relative;
  top: 560px;
  left: 1300px;
  animation: block 3s 3 linear;
}
@keyframes block {
  0% {left:1300px;}
  100% {left:-40px;}
  
}

#goldBlock{
  width: 90px;
  height: 10px;
  background-color: gold;
  position: sticky;
  top:650px;
  left: 1800px;
  right: 1800px;
  bottom: 650px;
  border-radius: 50%;
  animation: block 1s 9 linear;
  animation-direction: alternate-reverse;
  animation: composition 3px;

}
@keyframes goldBlock {
  0% {left:1300px;}
  100% {left:-40px;}
  
  
}

#unmute{
border-color: goldenrod;
position: fixed;
left: 1200px;
top: 65px;
width: 80px;
height: 40px;
border-radius: 360%;
font-size: larger;
color: red;


}

#start{
  height: 40px;
  width: 80px;
  font-size: larger;
  font-weight: bolder;
  color:green;
  position:relative;
  left: 1000px;
  top:-200px;

}